/* Gutter styles */
.snw-gutter-ref {
  margin-right: 5px;
}

.cm-gutters {
  min-width: 28px;
}

.snw-breadcrumbs {
  font-size: var(--font-ui-smaller);
  padding-left: 3px;
  padding-right: 3px;
  opacity: var(--snw-counter-opacity);
}

.snw-breadcrumbs>span {
  vertical-align: middle;
} 